/* Nadja van 't Hoff (11030720) */

body {
  font: 14px sans-serif;
  font-style: italic;
  background-color: WhiteSmoke;
}

.header {
	text-align: center;
	font-style: normal;
	font-weight: bold;
	background-color: white;
    padding: 15px;
}

footer {
    font: 11px sans-serif;
    background-color: white;
    color: LightSlateGrey;
    padding: 15px;
}
