/* Nadja van 't Hoff (11030720) */

body {
  font: 12px sans-serif;
  font-style: italic;
  background-color: WhiteSmoke;
}

.header {
	text-align: center;
	font-style: normal;
	font-weight: bold;
	background-color: White;
  padding: 20px;
}

.subheader {
	text-align: center;
	font-style: normal;
	font-weight: bold;
	background-color: White;
  padding: 5px;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.datamaps-subunit {
  stroke-width: 2px !important;
}

#legend {
    padding: 1.5em 0 0 1.5em;
}

input[type=text] {
    width: 80px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
    display: table-cell;
    font-weight: bold;
}

.unit {
  padding: 14px 16px;
  position: relative;
  top: 33%;
}

.dropdown {
	position: absolute;
	padding: none;
}

.btn {
	font-style: normal;
  font-size: 14px;
	float: left;
	float: top;
  color: White;
	background: Silver;
  border-color: White;
  padding-top: 2px;
  padding-bottom: 2px;
}

.dropdown-menu > li > a:hover {
  background-color: Gainsboro;
}

.dropdown-menu {
  position: absolute;
  top: 35%;
  left: -15%;
  padding-left: 3px;
  padding-right: 3px;
  height: auto;
  max-height: 125px;
  overflow-x: hidden;
  max-width: 140px;
  min-width: 140px;
  width: 140px !important;
}

.dropdown-item {
	font: 12px sans-serif;
  padding-left: 3px;
	position: relative;
}

input[type="checkbox"] {
      transform:scale(1.1, 1.1);
}

#myInput {
  font-size: 11px;
  padding: 3px 5px 3px 5px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 125px !important;
  height: 25px !important;
}

#myInput:focus {outline: 3px solid #ddd;}

#radarLegend {
  position: absolute;
}

.levels {
  font-family: sans-serif;
  font-size: 10px;
}

.legend-radar {
  font-family: sans-serif;
  font-size: 11px;
}

.radar-line {
  stroke: grey
  stroke-width: 1px
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

.axis text {
	font: 11px sans-serif;
	font-weight: bold;
}

footer {
    font: 12px sans-serif;
    background-color: white;
    color: LightSlateGrey;
    padding: 15px;
}
